 
    .wrapper{   
        display:-webkit-box;   
        display:-moz-box;   
        display:-ms-flexbox;   
        display:-webkit-flex;   
        display:flex;     
        -webkit-flex-flow:row wrap;   
        flex-flow:row wrap;   
    }   
    .wrapper > *{   
        padding:10px;   
        flex:1 100%;   
    }   
    .header{   
        background:#FF6347;   
    }   
    .footer{   
        background:#90EE90;   
    }   
    .main{   
        background:#00BFFF;   
    }   
    .aside-1{   
        background:#FFD700;   
    }   
    .aside-2{   
        background:#FF69B4;   
    }   
   @media all and (min-width: 600px) {   
        .aside{   
            flex:1 auto;   
        }   
    }   
    @media all and (min-width: 800px) {   
        .main{   
            flex:5 0px;   
        }   
        .aside-1{   
            order:1;   
        }    
        .main{   
            order:2;   
        }   
        .aside-2{   
            order:3;   
        }   
        .footer{   
            order:4; 
        }   
    }   
